# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
# .env.local
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_eupi67h
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_7jvsws3
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=69DdENAfA7y87Q7GG

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
